.fondo{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient( rgba(0, 157, 213, 0.7), rgba(0, 52, 71, 0.7) ),url('../../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-texto{
 text-align: center;
max-width: 900px;
}

.fondo-texto h1{
    font-size: 60px;
    font-weight: 600;
}

.fondo-texto p{
    max-width:900px;
    margin: 10 px auto 20px;
    line-height: 1.4;
}

/* mobile*/
@media (max-width: 840px){
    .fondo-texto h1{
        font-size: 40px;
    }
}

@media (max-width: 650px){
    .fondo-texto h1{
        font-size: 30px;
        max-width: 400%;
        margin: auto;
    }

    .fondo-texto p{
        font-size: 14px;
        margin: 15px  auto 30px;
    }
}