.galeria{
    margin: 80px auto;
    padding:0 80px;
    position: relative;
}

.derecha , .izquierda{
    position:absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50px);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background:#009dd5 ;
}

.izquierda{
    right: auto;
    left: 0;
}
.slider{
    overflow: hidden;
}

.slider ul{
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX();
}

.slider ul li{
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide{
    box-shadow:0 0 20px rgba(0,0 ,0, 0.5);
    padding: 40px;
    border-radius: 10px;
    color: #676767;
    line-height: 1.4;
}

.slide img{
    width: 65px;
    margin-right: 10px;
    
}
 .info-usuario{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
 }

 .info-usuario h3{
    color:#009dd5
 }


 /* mobile */
 @media (max-width: 800px){

    .galeria{
        padding: 0 40px;
    }
    .derecha, .izquierda{
        padding: 10px;
        width: 35px;
    }

    .galeria ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }

    .slide img{
        width: 50px;
        border: 3px solid #009dd5;
    }
 
}

@media (max-width: 600px){
    .info-usuario{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .info-usuario h3{
        font-size: 16px;
    }
    .slider p{
        font-size: 12px;
    }

}
