.pie{
    margin: 10 px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px  solid #009dd5;
    padding: 15px 0;


}

.pie ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20 px;
}

/*media*/
@media (max-width: 600px){
    .pie{
        display: block;
        text-align: center;
    }

    .pie ul li {
        margin: 10px;
    }
    .pie ul{
        margin-top: 10px;
    }

}